.header-page-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header-page {
    background-image: url('/public/HeaderCompImg/BackgroundImg.png');
    background-position: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1980px;
    min-width: 1980px;
}

.header-text-cont {
    text-align: center;
    font-size: 40px;
    margin-bottom: 130px;
    margin: 0 auto;
}

.header-cont {
    display: inline-block;
    margin-left: 220px;
    margin-bottom: 250px;

}