.header-page-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header-page {
    background-image: url('/public/HeaderCompImg/BackgroundImg.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1980px;
}

.top-slider-cont {
    width: 500px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    background-color: cadetblue;
    width: 1980px;
    color: white;
    height: 40px;
}

.top-slider {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    animation: ticker-scroll 15s linear infinite;
}

.top-slider p {
    padding: 0;
    color: white;
    margin: 0;
    flex-shrink: 0;
    margin-right: 20px;
    font-size: large;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }

}

.header-text-cont {
    text-align: center;
    font-size: 40px;
    margin-bottom: 130px;
    margin: 0 auto;
}

.header-cont {
    display: inline-block;
    margin-left: 220px;
    margin-bottom: 250px;

}