.main-fgrid-card, .main-sgrid-card{
    position: relative;
}

.collection-comp{
    background-color: rgb(157, 177, 177);
    color: black;
    display: flex;
    justify-content: space-between;
    width: 781px;
    position: absolute;
    top: 90%;
    border-radius: 10px;
    font-size: 40px;
    height: 80px;
    align-items: center;
}

#second{
    width: 678px;
}

#thid{
    width: 1480px;
}

.collection-comp-img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}